<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ dog.name }}</title>
</head>
<body>

<article>
    <h1>{{ dog.name }}</h1>

    <p>Status: {{ dog.get_status_display }}</p>
    <p>Płeć: {{ dog.get_gender_display }}</p>
    <p>Wiek: {{ dog.age }}</p>
    <p>Kolor: {{ dog.color }}</p>
    <p>Waga: {{ dog.weight }} kg</p>
    <p>Wzrost: {{ dog.height }} cm</p>

    {% if dog.main_photo %}
        <img src="{{ dog.main_photo.image.url }}" style="max-width:300px;">
    {% elif dog.photos.first %}
        <img src="{{ dog.photos.first.image.url }}" style="max-width:300px;">
    {% endif %}

    <p>{{ dog.description }}</p>
</article>

</body>
</html>
